@import '../libs/burger/burger';

*::-webkit-input-placeholder {
	color: #b7b7b7;
	opacity: 1;
	border: 0px;
	outline: 0px;
	box-shadow: 0px;
	font-family: Lato;

}
*:-moz-placeholder {
	color: #b7b7b7;
	opacity: 1;
	border: 0px;
	outline: 0px;
	box-shadow: 0px;
	font-family: Lato;

}
*::-moz-placeholder {
	color: #b7b7b7;
	opacity: 1;
	border: 0px;
	outline: 0px;
	box-shadow: 0px;
	font-family: Lato;

}
*:-ms-input-placeholder {
	color: #b7b7b7;
	opacity: 1;
	border: 0px;
	outline: 0px;
	box-shadow: 0px;
	font-family: Lato;

}

button, 
button:active, 
button:focus,
input,
textarea {
    outline: none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: Lato;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/*End eric reset*/

.inner {
	//margin-top: 0;
	
	// display: flex;
	// justify-content: center;
	// flex: 1;
	// &>div {
	// 	 flex-basis: 100%;
	// }
}

.wrap {
	justify-content: center;
	width: 100%;
	display: block;
	min-width: 320px;
	.inner {
		&.first-inner {
			width: 1140px;
			height: 70px;
			@media only screen and (max-width : 1140px) {
				width: 90%;
			}
			display: block;
		}
	}
}
.navbar {
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFF;
	z-index: 999;
	.inner-navbar {
		width: 1140px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		@media only screen and (max-width : 1140px) {
			width: 90%;
		}
	}
	.logo {
		float: left;
		margin-top: 24px;
	}
	.hamburger {
		display: none;
		@media only screen and (max-width : 1024px) {
			display: block;
		}
		position: fixed;
		right: 0;
		top: 10px;
	}

	//f1
	.navtabs {
		display: flex;
		float: right;
		width: 390px;
		height: 100%;
		z-index: 100000;
		@media only screen and (max-width : 1024px) {
			background-color: #fff;
			position: fixed;
			right: 0;
			top: 70px;
			flex-direction: column;
			z-index: 110;
			width: 200px;
			padding-top: 60px;
			height: calc(100% - 70px - 60px);
			border-left: 1px solid #ccc;
			display: none;
			&.active {
				display: flex;
			}
		}
		.navtabs__item {
			position: relative;
			margin-right: 55px;
			height: 100%;
			
			@media only screen and (max-width : 1024px) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0px;
			}
			.navtabs__item__link {
				padding-top: 20px;
				box-sizing: border-box;
				padding-right: 1px;
				color: #232323;
				font-family: Lato;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				font-weight: 400;
				letter-spacing: 0.64px;
				cursor: pointer;
				text-decoration: none;
				@media only screen and (max-width : 1024px) {
					height: auto;
					text-align: center;
					padding-left: 10px;
					padding-right: 1px;
					box-sizing: border-box;
					padding-top: 0;
				}
				&:hover {
					padding-right: 0;
					font-family: Lato;
					font-weight: 700;
					letter-spacing: 0.64px;
				}
				height: 100%;
				display: block;
			}
			.drd:hover {
				//height: 300px;
				
				& + .sublist {
					//display: block!important;
				} 
			}
			.sublist {
				display: none;
				position: absolute;
				top: 46px;
				width: 183px;
				background-color: rgba(#000000, 0.65);
				border-top: 2px solid #fff200;
				.subitem {
					padding-left: 18px;
					padding-right: 18px;
					width: 132px;
					color: #fdfdfd;
					font-family: Lato;
					font-size: 14px;
					font-weight: 300;
					line-height: 36px;
					cursor: pointer;
					&:hover {
						color: #fff200;
						font-weight: 300;
						letter-spacing: 1.05px;
					}
				}
				.trdlist {
					border-top: 2px solid #fff200;
					position: absolute;
					right: -183px;
					top: 90px;
					width: 183px;
					background-color: rgba(#000000, 0.65);
					.trd_item {
						padding-left: 18px;
						padding-right: 18px;
					}
				}
			}
			
		}
	}
	.serachbar_wrap {
		@media only screen and (max-width : 1024px) {
			position: fixed;
			right: 0;
			top: 60px;
			z-index: 120;
			display: none;
			&.active {
				display: flex;
			}
		}
		padding-top: 24px;
		float: right;
		position: relative;
		margin-top: -4px;
	    margin-left: 45px;
		.serachbar {
			width: 180px;
			height: 31px;
			background-color: rgba(#8d78b7,0.2);
			border:none;
			padding-left: 10px;
		    padding-right: 10px;
		    box-sizing: border-box;
		}
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 13px;
			height: 13px;
			z-index: 10;
			right: 27px;
			top: 33px;
			background-image: url(../img/search_icon.png);
		}
	}
}
.jumbo {
	width: 100%;
	height: 750px;
	background-color: green;
    background-image: url(../img/jumbo.jpg);
    .owl-carousel {
    	position: relative;
    	height: 100%;
    	.owl-stage-outer {
    		height: 100%;
    		
    	}
    	.owl-title {
    		
    		@media only screen and (max-width : 632px) {
				font-size: 24px;
    		}
			display: block;
			text-align: center;
			font-family: Lato;
			font-size: 64px;
			font-weight: 700;
			text-transform: uppercase;
			/* Text style for "Creative" */
			color: #ffffff;
			letter-spacing: 4.26px;
			margin-top: 306px;
			.owl-yellow {
				color: #fff200;
				letter-spacing: 4.26px;
			}
    	}
    	.owl-subtitle {
    		margin-top: 46px;
    		text-align: center;
    		display: block;
    		max-width: 721px;
    		margin-left: auto;
    		margin-right: auto;
    		color: #ffffff;
			font-family: Lato;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0.64px;
			@media only screen and (max-width : 632px) {
				padding-top: 60px;
				padding-left: 7px;
				padding-right: 7px;
    		}
    	}
    	.owl-nav {
    		position: absolute;
    		top: 50%;
    		width: 100%;
    		display: flex;
    		justify-content: space-between; 
    		
    		.owl-prev {
    			margin-left: 30px;
    			width: 60px;
				height: 60px;
				background-color: rgba(#ffffff, 0.2);
				span {
					color: #FFF;
				}
    		}
    		.owl-next {
    			margin-right: 30px;
    			width: 60px;
				height: 60px;
				background-color: rgba(#ffffff, 0.2);
				span {
					color: #FFF;
				}
    		}
    	}
    	.owl-dots {
    		position: absolute;
    		height: 13px;
    		width: 100px;
    		left: 50%;
    		bottom: 41px;
    		.owl-dot {
    			margin-right: 5px;
    			width: 8px;
				height: 7px;
				background-color: #b7b7b7;
				border-radius: 50%;
    			&.active {
					background-color: #ffffff;
    			}
    		}
    	}
    }
}
.chooseus {
	height: 689px;
	width: 100%;
	@media only screen and (max-width : 1151px) {
		height: auto;	
	}
	.title {
		margin-top: 115px;
		text-align: center;
		font-family: Lato;
		font-size: 35px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		color: #232323;
		letter-spacing: 1.4px;
		.blue {
			color: #009dda;
		}
	}
	.subtitle {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		color: #999999;
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.56px;
		margin-top: 33px;
		max-width: 694px;
		@media only screen and (max-width : 710px) {
			max-width: none;
			box-sizing: border-box;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.blocks_wrap {
		display: flex;
		width: 1141px;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-around;
		@media only screen and (max-width : 1151px) {
			width: 90%;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		
		position: relative;
		margin-top: 89px;
		
		.block {
			width: 200px;
			height: 270px;
			border: 1px solid #ebebeb;
			position: relative;
			@media only screen and (max-width : 1151px) {
				margin-bottom: 40px;
			}
			&:hover {
				.subblock {
					opacity: 1;
				}
			}
		}
		.blocktitle {
			position: absolute;
			top: 144px;
			display: block;
			left: 0;
			width: 200px;
			color: #232323;
			font-family: "Lato";
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			/* Text style for "your title" */
			letter-spacing: 0.7px;
			text-align: center;
		}
		.text {
			top: 184px;
			position: absolute;
			width: 200px;
			color: #373737;
			font-family: Lato;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			/* Text style for "Duis biben" */
			letter-spacing: 0.56px;
			text-align: center;
			
		}
		.icon {
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-top: 36px;
		}
		
		.subblock {
			opacity: 0;
			display: flex;
			justify-content: center;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 149px;
			width: 200px;
			background-color: #503392;
			//display: none;
			cursor: pointer;
			transition: all .5s;
			.subtitle {
				color: #ffffff;
				font-family: "Lato";
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				/* Text style for "see more" */
				letter-spacing: 0.7px;
			}
			.icons_wrap {
				position: absolute;
				bottom: 35px;
				display: flex;
				justify-content: space-between;
				width: 85px;
				
				.link {
					display: block;
					width: 35px;
					height: 36px;
					background: url("../img/subicon1.png");
				}
				.serch {
					display: block;
					width: 35px;
					height: 36px;
					background: url("../img/subicon2.png");
				}
			}
			
		}
	}
}
.ourproducts {
	background-image: url(../img/ourproductsbg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.op_header {
		background-color: #F4F4F4;
		height: 161px;
		background-position: center;
		background-image: url(../img/opheaderbg.png);
		.op_title {
			font-family: Lato;
			font-size: 35px;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			color: #ffffff;
			letter-spacing: 1.4px;
			text-align: center;
			padding-top: 48px;
			.yellow {
				color: #ffff00;
			}
		}
	}
	.op_owl {
		
		height: 680px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		
		.owl-dots {
			position: absolute;
			bottom: 70px;
			left: 50%;
			
			.owl-dot {
				margin-right: 5px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #d7d7d7;
				&.active {
					background-color: #503392;
				}
			} 
		}
		width: 1142px;
		@media only screen and (max-width : 1142px) {
			width: 90%;
			height: auto;
			padding-bottom: 170px;
		}
		justify-content: space-between;
		.op_slide {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			flex-flow: row wrap;
		}
		.op_item {
			width: 332px;
			padding-top: 116px;
			
			.op_img {
				float: left;
				width: 145px;
				height: 145px;
				margin-right: 26px;
			}
			.opi_title {
				color: #232323;
				font-size: 24px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.74px;
				padding-top: 23px;
				font-family: Lato;

			}
			.opi_subtitle {
				color: #503392;
				font-family: Lato;
				font-size: 16px;
				font-weight: 400;
				padding-top: 15px;
			}
			.text {
				color: #373737;
				font-family: Lato;
				font-size: 14px;
				font-weight: 300;
				line-height: 15px;
				
				padding-top: 22px;
			}
		}
	}
}
.getintoch {
	.gtc_title {

		font-family: Lato;
		font-size: 35px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		/* Text style for "get in" */
		color: #232323;
		letter-spacing: 1.4px;
		text-align: center;
		padding-top: 83px;
		.blue {
			color: #009dda;
		}
	}
	.gtc_text {
		color: #999999;
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		/* Text style for "Q, uisque" */
		letter-spacing: 0.56px;
		text-align: center;
		padding-top: 33px;
	}
	.gtc_map {
		margin-top: 83px;
		height: 634px;
		position: relative;
		iframe {
			width: 100%;
		    height: 100%;
		    z-index: 1;
		}
		.gtc_black {
			z-index: 10;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.65);
			//padding-top: 84px;
			//padding-left: 68px;
			display: flex;
			justify-content: center;
			align-items: center;
			.gtc_black2 {
				width: 945px;
				height: 435px;
				background-color: rgba(#1a1a1a, 0.5);
				display: flex;
				justify-content: space-around;
				align-items: center;

				@media only screen and (max-width : 1140px) {
					flex-direction: column;
					height: 635px;
					width: 100%;
					background-color: transparent;
				}
			}
			.gtcform {
				width: 490px;
				height: 271px;
				position: relative;
				
				//margin-right: 13px + 15px + 65px;
				.selectric-wrapper {
					float: right;
					width: 239px;
					height: 50px;
					box-sizing: border-box;
					background-color: transparent;
					border: 1px solid rgba(#ffffff, 0.5);
					.selectric {
						background-color: transparent;
						border: none;
						height: 100%;
						.label {
						    color: #b7b7b7; //ff
							font-family: Lato;
							font-size: 16px;
							font-weight: 400;
							line-height: 50px;
							height: 100%;
							padding-right: 22px;
							padding-left: 22px;
							box-sizing: border-box;
							margin-left: 0;
							margin-right: 0;
						}
						.button {
							height: 100%;
							width: 19px + 8px +19px;
							background-color: transparent;
							margin-top: 0;
							color: transparent;
						}
					}
					.selectric-items {
						.selectric-scroll {
							li {
								background-color: white;
								font-family: Lato;
								font-size: 16px;
								font-weight: 400;
								line-height: 30px;
								padding-right: 22px;
								padding-left: 22px;
								box-sizing: border-box;
							}
							.highlighted {
								color: #4ab5e3;
							}
						}
					}
				}
				.name {
					width: 239px;
					height: 50px;
					background-color: transparent;
					border: 1px solid rgba(#ffffff, 0.5);
					padding-right: 21px;
					padding-left: 21px;
					box-sizing: border-box;
					color: #b7b7b7;
					font-family: Lato;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
				}
				.email {
				}
				.message {
					width: 490px;
					height: 144px;
					background-color: transparent;
					border: 1px solid rgba(#ffffff, 0.5);
					padding-right: 21px;
					padding-left: 21px;
					box-sizing: border-box;
					color: #b7b7b7;
					font-family: Lato;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					resize: none;
					margin-top: 13px;
				}
				.button {
					width: 120px;
					height: 50px;
					background-color: #ffff00;
					border: none;
					color: #373737;
					font-family: Lato;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					float: right;
					margin-top: 14px;
				
				}
				
				.lcheck {
					color: #b7b7b7;
					font-family: Lato;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					cursor: pointer;
					bottom: 0;
					position: absolute;
					&:before {
						content: "";
						display: block;
						width: 23px;
						height: 23px;
						border: 1px solid rgba(#ffffff,0.5);
						float: left;
						margin-right: 11px;
						
					}
				}
				.check:checked + .lcheck {
					&:before {
						background-color: rgba(#FFF,0.5);
					}
				}
				.check {
					display: none;
					
				}
				@media only screen and (max-width : 500px) {
					width: 90%;
					.name {
						width: 100%;
					}
					.selectric-wrapper {
						width: 100%;
						margin-top: 10px
					}
					.message {
						width: 100%;
					}
					.button {
						width: 100%;
						margin-top: 50px;
					}
					.lcheck {
						bottom: -34px;
					}
				}

			}
			.gtccontacts {
				color: #f3f3f3;
				font-family: Lato;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				@media only screen and (max-width : 500px) {
					padding-top: 60px;
				}
			}
		}
	}
}

.foot {
	height: 61px;
	background-color: #1a1a1a;
	display: flex;
	justify-content: space-between;
	
	.copy {
		display: flex;
	    width: 370px;
		padding-right: 21px;
		padding-top: 21px;
		padding-left: 32px;
		color: #7a7a7a;
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.4px;
	}
	.soc {
	   	width: 162px;
	    display: flex;
	    padding-right: 31px;
	    align-items: center;
	    a {
	    	margin-left: 23px;
	    }
		.fbsoc {
			display: block;
			width: 11px;
			height: 21px;
			background-image: url(../img/fbsoc.png);
		}
		.gpsoc {
			display: block;
			width: 20px;
			height: 17px;
			background-image: url(../img/gpsoc.png);

		}
		.twsoc {
			display: block;
			width: 19px;
			height: 17px;
			background-image: url(../img/twsoc.png);

		}
		.drsoc {
			display: block;
			width: 20px;
			height: 21px;
			background-image: url(../img/drsoc.png);

		}
	}
	@media only screen and (max-width : 620px) {
		flex-direction: column;
		height: 100px;
		justify-content: space-evenly;
	    align-items: center;
		.soc {
		   
		}
		.copy {
			 width: 90%;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;

		}
	}
}